*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

div{
    overflow:hidden
}

.ctaButton{
    margin: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    width: 250px;
    height: 65px;
    background: none;
    border: none;
    background-color: #ED3636;
    padding: 10px 30px;
    border-radius: 60px;
    font-size: 25px;
    color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    outline: none;
}

.ctaButton:hover{
    background-color: #D92121;
}

form{
    width: 100%;
}

.textInput{
    border: none;
    border-radius: 3px;
    background: #EBEEF1;
    width: 90%;
    height: 30px;
    outline: none;
    padding-left: 10px;
}

.textArea{
    border: none;
    border-radius: 3px;
    background: #EBEEF1;
    width: 90%;
    height: 50px;
    outline: none;
    resize: none;
    padding: 10px;
}

.bigTittle{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: #004A7D;
    line-height: 80%;
}

.mediumTittle{
    margin: 0 auto;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #426485;
}

.smallTittle{
    margin: 0;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #00436D;
}

.whiteSmallTittle{
    margin: 0;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
}

.mediumText{
    margin: 10px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #195479;
}

.smallText{
    margin: 10px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #195479;
}

.whiteMediumText{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-weight: 40px;
    font-size: 25px;
    color: #ffffff;
}

.whiteSmallText{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #ffffff;
}

.redText{
    margin: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    color: #ED3636;
}

.whiteText{
    margin: 0px;
    margin-top: 10px;
    font-family: Lato Light;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
}

.projectsLogo{
    height: 30%;
}

/*--------------------- One Column Box ---------------------*/

.oneColumnBox{
    width: 80%;
    height: 350px;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    margin: 40px auto;
    box-shadow: 4px 4px 8px rgba(150, 150, 150, 0.25), -4px -4px 8px rgba(150, 150, 150, 0.25);
    border-radius: 20px;
}

.oneColumnBox__text{
    order: 1;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.oneColumnBox__img{
    order: 2;
    width: 60%;
    border-radius: 20px;
}

.oneColumnBox__img img{
    width: 100%;
        height: auto;
}

/*--------------------- Three Columns ---------------------*/

.threeColumnsBox{
    margin: 45px;
    box-shadow: 4px 4px 8px rgba(150, 150, 150, 0.25), -4px -4px 8px rgba(150, 150, 150, 0.25);
    border-radius: 20px;
    width: 22%;
    height: 400px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.threeColumnsBox__img{
    width: 100%;
    min-height: 40%;
    border-radius: 20px;
    background-color: rebeccapurple;
}

.threeColumnsBox__img img{
    width: 100%;
    height: auto;
}

.threeColumnsBox__text{
    text-align: center;
}

/*--------------------- First Screen ---------------------*/

.firstScreen{
    position: relative;
    width: 100%;
}

.firstScreen__logo{
    position: absolute;
    width: 100%;
    height: 20%;
    padding: 70px 0px 0px 100px; 
}

.firstScreen__logo img{
    height: 100%;
}

.firstScreen__content{
    display: flex;

}

.firstScreen__contentInfo{
    order: 1;
    width: 45%;
    height: 80%;
    padding: 50px 0px 0px 100px;
    margin-top: 120px; 
}

.firstScreen__contentInfoTittle{
    width: 100%;
    margin: 0px;
}

.firstScreen__contentInfoText{
    width: 100%;
    margin: 0px;
    margin-top: 30px;
}

.firstScreen__contentInfoButton{
    margin-top: 30px;
}

.firstScreen__contentImage{
    order: 2;
    width: 55%;
}

.firstScreen__contentImage img{
    width: 100%;
}

/*--------------------- Projects ---------------------*/

.projects{
    width: 100%;
}

.projects__tittle{
    width: 100%;
    padding: 0px;
    padding-top: 40px;
    display: flex;
    align-items: center;
}

.projects__threeprojects{
    display: flex;
    justify-content: center;
}

.projects__newProject{
    width: 100%;
    padding-bottom: 40px;
}

.projects__caminoRealPanam{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url("/sources/caminoRealPanamericanoFondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    box-shadow: 4px 4px 8px rgba(150, 150, 150, 0.25), -4px -4px 8px rgba(150, 150, 150, 0.25);
}

/*--------------------- Testimonies ---------------------*/

.testimonies{
    width: 100%;
}

.testimonies__tittle{
    width: 100%;
    padding: 0px;
    padding-top: 40px;
    display: flex;
    align-items: center;
}

.testimonies__threetestimonies{
    display: flex;
    justify-content: center;
}

.testimonies__personalInfo{
    font-size: 16px;
}

/*--------------------- Participations ---------------------*/

.participations{
    padding-bottom: 40px;
}

.participations__content{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url("/sources/participationsImg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    box-shadow: 4px 4px 8px rgba(150, 150, 150, 0.25), -4px -4px 8px rgba(150, 150, 150, 0.25);

}

.participations__tittle{
    width: 100%;
    padding: 0px;
    padding-top: 40px;
    display: flex;
    align-items: center;
}

.participations__contentText{
    width: fit-content;
    margin: 0px;
}

/*--------------------- Contact ---------------------*/

.contact{
    width: 100%;
    height: 100%;
    padding-bottom: 40px;

}

.contact__tittle{
    width: 100%;
    padding: 0px;
    padding-top: 40px;
    display: flex;
    align-items: center;
}

.contact__container{
    height: 450px;
    box-shadow: none;
}

.contact__containerTittle{
    margin-bottom: 20px;
}

.contact__containerText{
    margin: 10px;
    font-size: 25px;
}

.contact__containerImg img{
    height: 100%;
    width: auto;
}

.contact__containerForm{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*--------------------- Footer ---------------------*/

.footer{
    background-image: url("/sources/footerbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__container{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__socialMedia{
    width: fit-content;
    height: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
}

.footer__socialMedia img{
    height: 100%;
    margin: 0px 10px;
}


/*--------------------- Media query ---------------------*/

@media (max-width: 700px) {

    .textInput{
        background: white;
    }
    
    .textArea{
        background: white;
    }

    .ctaButton{
        margin: 20px;
        padding: 5px 20px;
        font-size: 20px;
        color: white;
    }
    
    .bigTittle{
        font-size: 50px;
    }
    
    .mediumTittle{
        font-size: 30px;
    }
    
    .smallTittle{
        font-size: 25px;
    }

    .imgTittle{
        width: 70%;
    }
    
    .text{
        margin: 10px;
        font-size: 16px;
    }
    
    .whitebgText{
        font-size: 20px;
    }
    
    .redText{
        font-size: 20px;
    }
    
    .whiteText{
        margin: 0px;
        margin-top: 10px;
        font-family: Lato Light;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        color: #FFFFFF;
    }

    /*--------------------- One Column Box ---------------------*/

    .oneColumnBox{
        width: 60%;
        height: 450px;
        display: flex;
        flex-direction: column;
        margin: 40px auto;
        box-shadow: 4px 4px 8px rgba(150, 150, 150, 0.25), -4px -4px 8px rgba(150, 150, 150, 0.25);
    }

    .oneColumnBox__text{
        order: 2;
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }

    .oneColumnBox__img{
        order: 1;
        width: 100%;
        height: 30%;
    }

    .oneColumnBox__img img{
        width: 100%;
        height: auto;
    }

    /*--------------------- Three Columns ---------------------*/

    .threeColumnsBox{
        margin: 45px;
        box-shadow: 4px 4px 8px rgba(150, 150, 150, 0.25), -4px -4px 8px rgba(150, 150, 150, 0.25);
        width: 60%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .threeColumns__img{
        width: 100%;
        height: 50%;
    }

    .threeColumns__img img{
        width: 100%;
        height: auto;
    }

    .threeColumns__text{
        text-align: center;
    }

    /*--------------------- FirstScreen ---------------------*/


    .firstScreen__logo{
        width: 100%;
        height: 15%;
        padding: 30px 0px 0px 30px;
    }
    
    .firstScreen__logo img{
        height: 100%;
    }
    
    .firstScreen__content{
        flex-direction: column;
    }

    .firstScreen__contentInfo{
        order: 2;
        width: 100%;
        height: 85%;
        margin: 0px;
        padding: 50px 60px 0px 60px; 
    }
    
    .firstScreen__contentInfoTittle{
        width: 70%;
        margin: 0px auto;
        text-align: center;
    }

    .firstScreen__contentInfoText{
        width: 80%;
        margin: 30px auto;
        text-align: center;
    }

    .firstScreen__contentInfoButton{
        margin: 20px auto;
        
    }

    .firstScreen__contentImage{
        order: 1;
        width: 100%;
    }

    /*--------------------- Projects ---------------------*/

    .projects__threeprojects{
        flex-direction: column;
        align-items: center;
    }

    /*--------------------- Testimonies ---------------------*/

    .testimonies__threetestimonies{
        flex-direction: column;
        align-items: center;
    }

    /*--------------------- Contact ---------------------*/

    .contact{
        height: 80%;
    }

    .contact__container{
        background: none;
        box-shadow: none;
        width: 100%;
        height: fit-content;
        padding: 20px;
        margin: 0px;
    }

    .contact__containerImg{
        display: none;
    }

    .contact__containerForm{
        text-align: center;
    }

    .contact__containerTittle{
        margin-bottom: 20px;
        font-size: 25px;
    }
    
    .contact__containerText{
        margin: 10px;
        font-size: 20px;
    }
}