*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.ctaButton{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    background: none;
    border: none;
    background-color: #ED3636;
    width: 250px;
    height: 60px;
    border-radius: 60px;
    font-size: 25px;
    color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.ctaButton:hover{
    background-color: #D92121;
}

.bigTittle{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: white;
    line-height: 80%;
}

.mediumTittle{
    margin: 0px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #426485;
}

.smallTittle{
    margin: 0;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #00436D;
}

.text{
    font-family: Lato Light;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #00436D;
}

.whitebgText{
    font-family: Lato Light;
    font-style: normal;
    font-weight: 300;
    background-color: white;
    font-weight: 40px;
    font-size: 30px;
    color: #00436D;
}

.oneColumnBox{
    background-color: white;
    width: 80%;
    height: 300px;
    display: flex;
    margin: 40px auto;
    box-shadow: 4px 4px 8px rgba(150, 150, 150, 0.25), -4px -4px 8px rgba(150, 150, 150, 0.25);
}

.oneColumnBox__text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.oneColumnBox__img{
    width: 60%;
}

.oneColumnBox__img img{
    width: 100%;
}

/*--------------------- Firs Screen ---------------------*/

.firstScreen{
    background-image: url("/sources/1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.firstScreen__logo{
    width: 100%;
    height: 20%;
    padding: 70px 0px 0px 70px; 
}

.firstScreen__logo img{
    height: 100%;
}

.firstScreen__info{
    width: 100%;
    height: 80%;
    padding: 50px 0px 0px 100px; 
}

.firstScreen__infoTittle{
    width: 40%;
    margin: 0px;
}

.firstScreen__infoText{
    width: 50%;
    margin: 0px;
    margin-top: 30px;
}

.firstScreen__infoButton{
    margin-top: 30px;
}

/*--------------------- Projects ---------------------*/

.projects{
    width: 100%;
}

.projects__tittle{
    width: 100%;
    padding: 40px 0px 0px 100px;
}